backend/api/__pycache__
backend/api/settings.py
backend/social_pill/__pycache__
backend/social_pill/migrations
frontend/node_modules
docker-compose.yml
./docker-compose-dev.yml
./azure-pipelines.yml
./azure-pipelines-1.yml
./multi-pod.yaml
./helm
./docker
~
docker-compose.yml
frontend/.eslintcache